
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand text-info" href="#">ELOAN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="padding-left: 1000px;">
        <li class="nav-item sign">
          <a routerLinkActive="active" routerLink="/signup" class="nav-link text-info" >SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" routerLinkActive="active"  routerLink="/login">login</a>
        </li>
      </div>
    </div>
  </div>
</nav>
<hr>
<div class="container-fluid">
  <div class="row bg-warning w-200" style="height: 400px;">
<div class="col-6 ">
<h1 class="display-4 text-white p-5">ELOAN <br> COMMUNICATION <br> NETWORK </h1>
    </div>
    <div class="col-6">
      <img src="../assets/loan.jpg" alt="" width="600px">
    </div>
  </div>
  <hr>
  <h4 class="text-info pt-5" style="padding-left: 50px;">ABOUT US</h4>
  <hr>
  <hr>
  <div class="row">
  <div class="col-6">
    <img src="../assets/Loan 2.jpg" alt="" width="600px" class="border">
  </div>
  <div class="col-6">
    <h5 class="text-warning">WE GIVE SUPPORT FOR HUMANITY</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Esse cumque repellat rerum eius.  Ea nostrum laudantium <br> harum nobis eos,  quisquam alias corporis odio qui est, <br> nesciunt voluptas,eveniet dolorum. Quos!
      Lorem ipsum <br> dolor  sit amet consectetur adipisicing elit.  Quas exercitationem <br> asperiores ea ducimus omnis officiis earum necessitatibus nulla? <br> Ad quia nulla magni libero unde, voluptatem repellat incidunt   <br>delectus vel officiis!
      Lorem, ipsum dolor sit amet consectetur  <br>adipisicing elit. Itaque pariatur amet quia omnis placeat modi  <br> repellendus  dolorum adipisci recusandae! Eum dolorum  <br>  cupiditate provident mollitia accusamus, non corporis  <br> assumenda dignissimos molestias?
    </p>

  </div>
</div>
</div>

